# ── 日志 ──────────────────────────────
logToStderr = true
logAllGTPCommunication = false
logSearchInfo = false

# ── 规则（围棋规则设置）────────────────
koRule = POSITIONAL
scoringRule = AREA
taxRule = NONE
multiStoneSuicideLegal = false
hasButton = false
whiteHandicapBonus = 0
friendlyPassOk = true

# ── 搜索参数 ───────────────────────────
ponderingEnabled = false
numSearchThreads = 2
maxVisits = 500

# ── 分析输出格式 ───────────────────────
reportAnalysisWinratesAs = SIDETOMOVE
